@mixin button($background, $color) {
  font-size: calculateRem(16px);
  font-family: "Playfair Display", serif;
  padding: $spacing-s $spacing-m;
  background: $background;
  border: none;
  border-radius: $basic-radius 0 $basic-radius 0;
  color: $color;
  text-decoration: none;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.btn-accent {
  @include button($background: $accent, $color: white);
}
