#services-list {
  padding: $spacing-l $spacing-m;
  list-style-type: none;
  @include bp-small {
    @include flexbox($direction: column, $align-items: center);
  }
  @include bp-medium {
    display: block;
    position: relative;
    max-width: calculateRem(900px);
    margin: 0 auto;
    height: calculateRem(900px);
  }
  @include bp-large {
    max-width: calculateRem(1050px);
    height: calculateRem(1040px);
  }
  .service {
    @include flexbox($direction: column);
    @include bp-medium {
      position: absolute;
    }
    h3 {
      font-size: calculateRem(26px);
      color: $accent;
      font-weight: 400;
      margin: 0 0 $spacing-s;
      max-width: calculateRem(380px);
    }
    p {
      font-size: calculateRem(14px);
      line-height: calculateRem(22px);
      font-weight: 300;
      color: $text-color;
      max-width: calculateRem(380px);
    }
    a {
      display: block;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
      position: relative;
      text-decoration: none;
      &:before {
        display: block;
        content: "";
        position: absolute;
        background: $primary;
      }
      .service-hover {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($primary, 0.4);
        @include flexbox($justify: center, $align-items: center);
        opacity: 0;
        visibility: hidden;
        @include transition;
        i {
          font-size: calculateRem(36px);
          color: white;
        }
      }
      img {
        display: block;
        width: 100%;
      }
      &:hover,
      &:focus {
        .service-hover {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  #service-decoration-interieur {
    @include bp-small {
      align-self: flex-start;
    }
    @include bp-medium {
      right: 0;
      .content {
        order: 2;
      }
    }
    @include bp-large {
    }
    a {
      margin: $spacing-l 0 0 0;
      @include bp-small {
        width: calculateRem(400px);
      }
      @include bp-medium {
        margin: 0 0 $spacing-l 0;
      }
      @include bp-large {
        width: calculateRem(500px);
      }
      &:before {
        height: calculateRem(40px);
        width: calculateRem(1px);
        top: 0;
        left: calculateRem(40px);
        transform: translateY(-50%);
        @include bp-medium {
          top: 100%;
        }
      }
    }
  }
  #service-aide-achat {
    align-items: flex-end;
    margin: $spacing-xxl 0 0 0;
    @include bp-small {
      align-self: flex-end;
    }
    @include bp-medium {
      left: 0;
      top: calculateRem(100px);
      margin: 0;
    }
    @include bp-large {
    }
    h3,
    p {
      text-align: right;
    }
    @include bp-medium {
      .content {
        margin-right: calculateRem(60px);
      }
    }
    a {
      margin: $spacing-l 0 0 0;
      @include bp-small {
        width: calculateRem(400px);
      }
      @include bp-large {
        width: calculateRem(450px);
      }
      &:before {
        height: calculateRem(40px);
        width: calculateRem(1px);
        top: 0;
        right: calculateRem(40px);
        transform: translateY(-50%);
        @include bp-medium {
          right: calculateRem(100px);
        }
      }
    }
  }
  #service-conseil-shopping {
    margin: $spacing-xxl 0 0 0;
    @include bp-small {
      align-self: flex-start;
    }
    @include bp-medium {
      flex-direction: row;
      left: 50%;
      top: calculateRem(580px);
      transform: translateX(-30%);
      margin: 0;
      .content {
        margin-top: calculateRem(100px);
        order: 2;
      }
    }
    @include bp-large {
      top: calculateRem(640px);
    }
    a {
      margin: $spacing-l 0 0 0;
      @include bp-small {
        width: calculateRem(400px);
      }
      @include bp-medium {
        margin: 0 $spacing-l 0 0;
      }
      @include bp-large {
        width: calculateRem(450px);
      }
      &:before {
        height: calculateRem(40px);
        width: calculateRem(1px);
        top: 0;
        left: calculateRem(40px);
        transform: translateY(-50%);
        @include bp-medium {
          height: calculateRem(1px);
          width: calculateRem(40px);
          top: calculateRem(140px);
          left: 100%;
          transform: translateY(0);
          transform: translateX(-50%);
        }
      }
    }
  }
}
