#main-footer {
  padding: $spacing-l $spacing-m;
  .container {
    @include flexbox($direction: column, $align-items: center);
    list-style-type: none;
    margin: $neg-spacing-s;
    @include bp-regular {
      flex-direction: row;
      justify-content: space-between;
    }
    @include bp-extralarge {
      margin: $neg-spacing-s auto;
    }
  }
  .footer-element {
    margin: $spacing-s;
    @include flexbox($align-items: center);
    @include bp-regular {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  h6 {
    @include flexbox($align-items: center);
    font-size: calculateRem(16px);
    line-height: calculateRem(22px);
    margin: 0;
    i {
      color: $accent;
      font-size: calculateRem(17px);
      margin: 0 $spacing-s 0 0;
    }
  }
  a {
    color: $text-lightcolor;
    font-size: calculateRem(12px);
    text-decoration: none;
    font-weight: 300;
    margin: calculateRem(2px) 0 0 $spacing-s;
    @include bp-regular {
      margin: 0 0 0 calculateRem(28px);
    }
    &:hover,
    &:focus {
      color: $accent;
    }
  }
}
