#main-header {
  background: white;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-s $spacing-m;
  }
  #home-link {
    img {
      display: block;
      height: calculateRem(80px);
    }
  }
  #social-link {
    display: flex;
    align-items: center;
    a {
      color: $primary;
      text-decoration: none;
      padding: $spacing-xs;
      img {
        display: block;
        height: calculateRem(18px);
      }
      &:hover,
      &:focus {
        color: $accent;
      }
      & + a {
        margin-left: $spacing-r;
      }
    }
  }
}
